Flask==2.2.5
Flask-Bootstrap==3.3.7.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
SQLAlchemy==1.4.52
Flask-WTF==1.1.1
Flask-Limiter==3.5.0
Flask-GraphQL==2.0.1
Flask-Moment==1.0.5
Flask-Admin==1.6.1
Flask-BasicAuth==0.2.0
Jinja2==3.1.4
Werkzeug==2.2.3
WTForms==3.1.2
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-server-core==1.2.0
tqdm==4.66.5
termcolor==2.4.0
MarkupSafe==2.1.5
itsdangerous==2.1.2
click==8.1.7
