{% extends "base.html" %}

{% block app_content %}
<div class="page-header">
  <h1>Contributor Login</h1>
  <p>Log in with the contributor account provided by the Peptoid DataBank team.</p>
</div>

<div class="row">
  <div class="col-md-6">
    <form method="post">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control", autofocus=true) }}
        {% for error in form.username.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="checkbox">
        <label>{{ form.remember() }} Remember me</label>
      </div>

      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}
