{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.css') }}" />
{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="jumbotron">
  <h1 class="display-4">{{ title }}</h1>
  <p>{{ description }}</p>
  <hr class="my-4" />
  <p style="font-size: 1.5rem; font-weight: 300;">{{ info }}</p>
</div>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <form method="POST" action="{{ url_for('routes.search') }}">
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.residue) }}
        {{ wtf.form_field(form.author) }}
        {{ wtf.form_field(form.doi) }}

        <div style="margin-top: 1rem;">
          <strong>{{ form.experiment.label }}</strong>
          {{ wtf.form_field(form.experiment) }}
        </div>

        <div style="margin-top: 1rem;">
          <strong>{{ form.topology.label }}</strong>
          {{ wtf.form_field(form.topology) }}
        </div>

        {{ wtf.form_field(form.submit) }}
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}
